# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# figma.com/design/xuxOLTOC9kyH0SX2QqqUbx/Ecommerce-UI-Kit---Website-Template-—-Modern--Scalable--Multi-Vendor-Ready--Preview-?node-id=551-26545&p=f&t=EGzAewnl8R6LEaP9-0