@use "variables" as *;

.store-container {
  .store-card {
    width: 300px;
    height: 400px;
    border-radius: 7px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $color-light-grey;
    border: none;
    text-align: center;

    // h6 {
    //   font-family: $font-primary;
    //   margin: 5px;
    // }

    // button {
    //   margin-top: 15px;
    //   width: 200px;
    //   padding: 5px;
    //   background: $color-dark-grey;
    //   color: $color-white;

    //   &:hover {
    //     color: $color-dark-grey;
    //     background: $color-white;
    //   }
    // }
  }
}
