// Color Variables
$color-white: #fff;
$color-dark-grey: #212121;
$color-light-grey: #f6f2f2;
$color-wakanda-purple: #3f2a4b;
$color-vibranium-blue: #007f9e;
$color-silver: #c0c0c0;
$red: #ff0000;

// Font variables
$font-primary: "Lato", sans-serif;
$font-heading: "Roboto Mono", monospace;

// UI Breakpoints
$mobile: 576px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;
$large-desktop: 1400px;
