@use "variables" as *;

.welcome-container {
  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  // justify-content: center;
  // align-items: center;
  //   align-self: center;
  //   border: 1px solid $color-wakanda-purple;
  //   padding: 10px;

  .admin {
    width: 300px;
    text-align: center;
    margin: 25px 10px;
    padding: 15px;
    border-radius: 15px;
    background: $color-light-grey;

    img {
      width: 150px;
      border-radius: 50%;
    }

    a {
      width: 120px;
      display: inline-block;
      // color: $color-dark-grey;
      // border: none;
      border: 2px solid $color-dark-grey;
    }
  }

  .user {
    width: 300px;
    text-align: center;
    margin: 25px 10px;
    padding: 15px;
    border-radius: 15px;
    background: $color-light-grey;

    img {
      width: 150px;
      border-radius: 50%;
    }

    a {
      display: inline-block;
      // color: $color-dark-grey;
      // border: none;
      border: 2px solid $color-dark-grey;
    }
  }
}
